body {
    position: absolute;
    top: 0px;
    left: 0px;
  }

.background{
    position: fixed;
    z-index: -1;
    background-image: url("../img/Flogin.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    width: 100%;
    height: 100%;
    top: 0px;   
    left: 0px;
}

.label{
  left: 800px;
position: relative;
border: 6px;
padding: 40px;

}

label{
  color: white;
  padding-right: 6px;
}

