body {
    position: relative;
    background-color: black;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 50% 110%;
    width: 99%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .imagem {
        display: none;
    }
    .geral {
        width: 100%;
    }
}

.label {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
}

label {
    position: relative;
    color: white;
    display: block;
    margin-left: 18%;
}

.div_cx_txt_email {
    position: relative;
    width: 70%;
    height: 7%;
    border-color: Transparent;
    cursor: auto;
    overflow: hidden;
    caret-color: rgb(255, 255, 255);
    outline: none;
    font-size: 23px;
    padding-top: 19px;
    bottom: 85px;
    margin-left: 110px;
}

.cx_all {
    position: relative;
    border-radius: 6px;
    border-radius: 4px/4px;
    border-style: ridge;
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 30px;
    width: 290px;
    display: block;
    margin-left: 87px;
    bottom: 2px;
}

.txt_criar {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    font-size: 33px;
    bottom: 40px;
    width: 29%;
}

.bt_login {
    position: relative;
    color: white;
    background: #666565;
    border-radius: 5px;
    width: 300px;
    height: 36px;
    bottom: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bt_login:hover {
    background-color: #464545;
    border-radius: 5px;
    border: 0.1px solid #ffffff;
}

.div_lembrar {
    position: relative;
    height: 6%;
    width: 30%;
    margin-left: 158px;
    bottom: 80px;
}

#remember_me {
    position: relative;
    left: 0px;
}

.div_esqueceu {
    margin-bottom: 100px;
    margin-top: -100px;
    margin-left: 360px;
    height: 2.5%;
    width: 26%;
}

.div_esqueceu1 {
    color: skyblue;
}

.geral {
    width: 50%;
    height: 550px;
}

.txt_bem {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin-left: 280px;
    width: 25%;
    bottom: 30px;
}

.txt_conta {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 200px;
    font-size: 33px;
    bottom: 50px;
    width: 56%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login {
    display: flex;
    flex-direction: row;
}

.imagem {
    width: 50%;
    height: 780px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}