/* 

criar variavel css so colocar "--nome-da-variavel:"
e para chamar ela no codigo é ex:
color: var(--nome-da-variavel)
meu foco ta em utilizar pra cores porem da para usar em outras coisas
como margem espaçamento formatação de texto etc...

att, Alessandro 
*/



/* Variaveis */
:root{
  --cor-principal: #000000;
  --cor-secundaria: #323232;
  --cor-terciaria: #ffffff;
  --cor-quaternaria: #212121;
  --cor-retoques: #0c9e35;
}
/* fim variaveis */

/* General */

* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
  background-color: var(--cor-principal);
}

header {
  background-color: var(--cor-quaternaria);
 
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary {
  background-color: #F2A340;
  border: 2px solid #C28008;
}

.btn-primary:hover {
  background-color: #C28008;
  border-color: #C28008;
}

.msg {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* sidebar */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--cor-secundaria);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.openbtn{
  color:var(--cor-terciaria);
}
.openbtn:hover{
  color:var(--cor-retoques);
}
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: var(--cor-terciaria);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--cor-retoques);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  color: var(--cor-terciaria);
}
.sidenav .closebtn:hover {

  color: var(--cor-retoques);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/* Events list */
#events-container {
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #CCC;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}

/* Event create page */
#event-create-container {
  padding: 30px
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
}

/* Event page */
#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #F2A340;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
}

#items-list li {
  display: flex;
}

/* footer */
footer {
  text-align: center;
  background-color: var(--cor-quaternaria);
  color:var(--cor-terciaria);
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}