/* 

criar variavel css so colocar "--nome-da-variavel:"
e para chamar ela no codigo é ex:
color: var(--nome-da-variavel)
meu foco ta em utilizar pra cores porem da para usar em outras coisas
como margem espaçamento formatação de texto etc...

att, Alessandro 
*/



/* Variaveis */
:root{
  --cor-principal: #000000;
  --cor-secundaria: #323232;
  --cor-terciaria: #ffffff;
  --cor-quaternaria: #212121;
  --cor-retoques: #0c9e35;
}
/* fim variaveis */

/* General */

* {
  font-family: 'Roboto';
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
  background-color: var(--cor-principal);
}

header {
  background-color: var(--cor-quaternaria);
 
}



/* sidebar */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--cor-secundaria);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.openbtn{
  color:var(--cor-terciaria);
}
.openbtn:hover{
  color:var(--cor-retoques);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--cor-terciaria);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--cor-retoques);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  color: var(--cor-terciaria);
}
.sidenav .closebtn:hover {

  color: var(--cor-retoques);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* footer */
footer {
  text-align: center;
  background-color: var(--cor-quaternaria);
  color:var(--cor-terciaria);
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}